{% extends "base.html" %}

{% block title %} Správa systému {% endblock %}

{% block content %}
	{% import "forms.html" as forms %}
	<div class="container-fluid">
		<div class="row-fluid">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#users">Uživatelé</a></li>
				{%if edit is not empty %}
				<li><a href="#edit">Editace uživatele</a></li>
				{%endif%}
				<li><a href="#config">Nastavení</a></li>
				<li><a href="#clean">Vyčistit systém</a></li>
			</ul>
		 </div>
		<div class="row-fluid">
			<div class="tab-content">
				<div class="tab-pane active" id="users">
					{% include 'hints.html' with {'page':'admin-users'} %}
					<div class="span10">
						<div class="row-fluid">
						<form class="form-inline">
							<div class="input-prepend"><span class="add-on"><i class="icon-user"></i></span><input type="text" name="nick" placeholder="Přezdívka" class="input-small"></div>
							<div class="input-prepend"><span class="add-on"><i class="icon-tag"></i></span><input type="text" name="login" placeholder="login" class="input-small"></div>
							<div class="input-prepend"><span class="add-on"><i class="icon-eye-open"></i></span><input type="text" name="password" placeholder="heslo" class="input-small"></div>
							<div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span><input type="text" name="email" placeholder="Email" class="input-medium"></div>
							<label class="checkbox">
							<input type="checkbox" name="superadmin"><small>Superadmin?</small>
							</label>
							<input type="hidden" name="action" value="newuser">
							<input type="submit" value="Přidat uživatele" class="btn btn-small btn-primary">
						</form>
						</div>
						{% set edit_button = {"href":"admin.php","class":"btn btn-warning","text":"Editovat","vars":{"action":"edituser","id":"id","tab":"edit"} } %}
						{% set active_button = {"href":"admin.php","class":"btn btn-inverse","text":"Aktivovat/deaktivovat","vars":{"action":"activetoggle","id":"id"} } %}
						{% include 'tabulize.html' with {'data': users_data,'buttons': [edit_button,active_button], 'bools':["aktivní","superadmin"], 'hide':["klíč"] } %}
					</div>
				</div>
				{%if edit is not empty %}
				<div class="tab-pane" id="edit">
					{% include 'hints.html' with {'page':'admin-edit'} %}
					<div class="span10">
						<form action="admin.php" method="POST" class="form-horizontal">
							{{forms.bsinput("text","nick",null,edit.nick,"Přezdívka",correction.nick)}}
							{{forms.bsinput("text","login",null,edit.login,"Přihlašovací jméno",correction.login)}}
							{{forms.bsinput("text","password",'Prázdné znamená beze změny!',null,"Heslo",correction.password)}}
							{{forms.bsinput("text","email",null,edit.email,"Email",correction.email)}}
							<div class="controls"><div class="control-group"><label class="checkbox">Aktivní?<input type="checkbox" name="active" value="1" {%if edit.active==1%}checked="checked"{%endif%}></label></div></div>
							<div class="controls"><div class="control-group"><label class="checkbox">Superadmin?<input type="checkbox" name="superadmin" value="1" {%if edit.superadmin==1%}checked="checked"{%endif%}></label></div></div>
							{{forms.hidden("action","edituser_write")}}
							{{forms.hidden("id",edit.id)}}
							{{forms.bssubmit("Upravit")}}
						</form>
					</div>
				</div>
				{%endif%}
				<div class="tab-pane" id="config">
					{% include 'hints.html' with {'page':'admin-edit'} %}
					<div class="span10">
						<h2>Možnosti nastavení</h2>
						<form action="admin.php" method="POST" class="form-horizontal">
							{{forms.bsinput("text","web_url",null,config.web_url,"Adresa webu (http://domena.tld/složka/)")}}
							<p class="well">Vyzkoušejte funkčnost kliknutím na tento odkaz:&nbsp;<a href="{{config.web_url}}" target="_blank">{{config.web_url}}</a></p>
							{{forms.bsinput("text","send_emails_from",null,config.send_emails_from,"Adresa ze které budou odesílány pozvánky")}}
							{{forms.bsinput("text","send_emails_reply_to",null,config.send_emails_reply_to,"Kontaktní emailová adresa (Reply to:)")}}
							{{forms.bsinput("text","send_emails_subject",null,config.send_emails_subject,"Předmět odesílané pozvánky")}}
							<p class="well">Pozvánka bude odeslána s následujícím předmětem:&nbsp;<b>{{config.send_emails_subject}} <abbr title="Toto se nahradí skutečným jménem">Nějaká výprava</abbr></b></p>
                            <p class="well">Email bude odeslán s následujícím předmětem:&nbsp;<b>{{config.send_plains_subject}} <abbr title="Toto se nahradí skutečným předmětem">Předmět emailu</abbr></b></p>
                            <h5>Parametry odesílání emailu</h5>
                            {{forms.bsinput("text","bcc_to",null,config.bcc_to,"Odeslat všechny emaily v skryté kopii na tento email:")}}
                            <h6>Pokud chcete odesílat emaily přes SMTP server, vyplňte</h6>
                            <div class="control-group ">
                                <label class="control-label" for="smtp_on">Odesílat emaily přes SMTP server</label>
                                <div class="controls">
					<input name="smtp_on" value="yes" type="checkbox" {% if config.smtp_on is not null and config.smtp_on != '' %}checked="checked"{% endif%}>
                                </div>
                            </div>
                            {{forms.bsinput("text","smtp_host",null,config.smtp_host,"SMTP server")}}
                            {{forms.bsinput("text","smtp_port",null,config.smtp_port|default(587),"SMTP port")}}
                            {{forms.bsinput("text","smtp_user",null,config.smtp_user,"SMTP uživatel")}}
                            {{forms.bsinput("text","smtp_pass",null,null,"Heslo do SMTP (vyplněním se změní)")}}
							{{forms.hidden("action","editconfig")}}
							{{forms.bssubmit("Odeslat","btn btn-primary")}}
						</form>
					</div>
				</div>
				<div class="tab-pane" id="clean">
					<div class="span12">
						<h2>Vyčištění systému</h2>
						<p>Tato stránka vám nabízí možnost vyčistit celý systém. V takovém případě budou <b>smazány:</b></p>
						<ul>
							<li>všechny pozvánky</li> 
							<li>všechny hlasy v těchto pozvánkách</li> 
						</ul>
						</p>Nebude smazáno vámi zadané vybavení, skupiny ani členové.</p>
						<form action="admin.php" method="POST" class="form-horizontal" onsubmit="return confirm('Opravdu chcete systém vyčistit? \nTato akce je nevratná!')" >
							{{forms.hidden("action","makeclean")}}
							<input type="submit" class="btn btn-large btn-danger" value="Vyčistit systém">
						</form>
					
					</div>
				
				</div>
			</div>

			<script>
			$('#myTab a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			})
			
			$(function () {
			{% if request.tab is defined%}
				$('#myTab a[href="#{{request.tab}}"]').tab('show'); // Select tab by name
			{%else%}	
				$('#myTab a:first').tab('show');
			{%endif%}
			})
			</script>
		</div>
	</div>
{% endblock %}


