<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} {% endblock %} | Štrůdl</title>
		<!-- Bootstrap -->
		<meta charset="utf-8">
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
		<link href="media/styly.css" rel="stylesheet" media="screen">
		<script src="bootstrap/js/jquery-latest.js"></script>
		<script src="bootstrap/js/bootstrap.js"></script>
        <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
        <script type="text/javascript">
			$().alert()
		</script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="index.php">Štrůdl</a>
					<div class="nav-collapse collapse">
						<p class="navbar-text pull-right">
							{% if session.auth %}
								Přihlášen jako <a href="user.php">{{session.nick}}</a> <a href="login.php?logout">(Odhlásit)</a>
							{% else %}
								<a href="login.php">Nepřihlášen</a>
							{% endif %}
						</p>
						<ul class="nav">
							<li><a href="listpolls.php">Pozvánky</a></li>
							<li><a href="createpoll.php">Vytvořit pozvánku</a></li>
                            <li><a href="listplains.php">Emaily</a></li>
                            <li><a href="createplain.php">Vytvořit email</a></li>
							<li><a href="groups.php">Skupiny</a></li>
							<li><a href="equipment.php">Vybavení</a></li>
							<li><a href="members.php">Členové</a></li>
                            <li><a href="protocol.php">Záznamy</a></li>
							{%if session.superadmin == 1 %}
							<li><a href="admin.php">Administrace</a></li>
							{%endif%}
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>		
	{%if request.msg %}
		{% set al_class = 'alert-info' %}
		{% set al_msg = request.msg %}
	{%endif%} 
	{%if request.err %}
		{% set al_class = 'alert-error' %}
		{% set al_msg = request.err %}
	{%endif%} 
	{%if request.ok %}
		{% set al_class = 'alert-success' %}
		{% set al_msg = request.ok %}
	{%endif%} 
	{%if request.warn %}
		{% set al_class = 'alert-warning' %}
		{% set al_msg = request.warn %}
	{%endif%} 

	{%if al_msg is defined %}
	<div class="container-fluid">
		<div class="alert block-message {{ al_class|default('alert-info')}}   ">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
			<p><strong>{{al_msg}}</strong></p>
		</div>	
	</div>
	{% endif %}
{% block content %} {% endblock %}



	</body>
</html>
