{% extends "base.html" %}

{% if request.action == "editpoll" %}
	{% set pagetitle = 'Editovat' %}
{% else %}
	{% set pagetitle = 'Vytvořit' %}
{%endif%}
{% block title %} {{pagetitle}} hlasování {% endblock %}

{% block content %}
	{% import "forms.html" as forms %}
	<div class="container-fluid">
		<div class="row-fluid">
			{% include 'hints.html' with {'page':'createpoll'} %}
			<div class="span10">

				<form action="createpoll.php" method="POST" class="form-horizontal">
					{{ forms.bsinput("text","eventname","Bramborová párty",post.eventname,"Název výpravy",correction.eventname) }} 
					{{ forms.bsinput("text","date_start","YYYY-MM-DD",post.date_start,"Od:", correction.date_start) }}
					{{ forms.bsinput("text","date_end","YYYY-MM-DD",post.date_end,"Do:", correction.date_end) }}
					{{ forms.bsinput("text","place","Senečák (Plzeň)",post.place,"Kam se jede", correction.place) }}
					{{ forms.bsinput("text","time_start",'HH:MM',post.time_start,"Čas srazu", correction.time_start) }}
					{{ forms.bsinput("text","place_start","Hlavní nádraží",post.place_start,"Kde je sraz", correction.place_start) }}
					{{ forms.bsinput("text","time_end",'HH:MM',post.time_end,"Čas návratu",correction.time_end) }}
					{{ forms.bsinput("text","place_end","Hlavní nádraží",post.place_end,"Kam je návrat", correction.place_end) }}
					{{ forms.bsinput("text","price","400",post.price,"Cena za výpravu (nepovinné)", correction.price) }}
					<div class="control-group">
						<label class="control-label">S sebou:</label>
						<div class="controls">
							{% for key, text in equipment %}
							{{post.equipment[key] }} <label class="checkbox inline">{{text}}<input type="checkbox" name="equipment[]" id="{{key}}" value="{{key}}" {%if key in post.equipment  %} checked="checked"{%endif%} /></label>
								{% if loop.index % 3 == 0 %}
								<br>
								{%endif%}
							{% endfor %}
						</div>
					</div>
					{{ forms.bsinput("text","other_equipment","litr rumu a krabku cigaret",post.other_equipment,"Co ještě s sebou") }}
					<div class="control-group">
						<label class="control-label">Poznámka:</label>
						<div class="controls">
							<textarea rows="3" name="comment">{{post.comment}}</textarea>
						</div>
					</div>
					{%if request.action == "editpoll" or post.action == "editwrite" %}
						{{forms.hidden("id",request.id)}}
						{{forms.hidden("action","editwrite")}}
						{{ forms.bssubmit("Upravit pozvánku","btn btn-primary") }}
					{% else %}
						{{ forms.hidden("action","newpoll") }}
						{{ forms.bssubmit("Vytvořit novou pozvánku","btn btn-primary") }}
					{%endif%}
				</form>
			</div>
		</div>
	</div>
{% endblock %}


