<div class="span2">
	<div class="well">
		<h6>Nápověda</h6>
		{% if page=="login" %}
		<p>Zde se můžete přihlásit. Zadejte své přihlašovací jméno a heslo do formuláře.</p>

		{% elseif page=="createpoll" %}
		<p>Zde se vytváří nová přihláška/hlasování.</p> 
		<p>Zaškrtnuté věci <i>s sebou</i> vytvoří jeden seznam.</p>
		<p>Po odeslání se pozvánka ještě zobrazí pro kontrolu.</p>

		{% elseif page == "groups-overview" %}
		<p>Toto je přehled existujících skupin.</p>
		<p>Další práce se skupinami je možná buď přes tlačítka, nebo přes ouška nahoře.</p>
		
		{% elseif page == "groups-new" %}
		<p>Zde se tvoří nové skupiny.</p>
		<p>Nezapomeňte rovnou zaškrtnout členy skupiny. Ušetříte si práci.</p>
		
		{% elseif page == "groups-members" %}
		<p>Zde můžete změnit členy jednotlivých skupin</p>
		
		{% elseif page == "equipment-overview" %}
		<p>Toto je seznam vybavení, který se nabízí při vytváření nové pozvánky</p>
		<p>Některé vybavení může být schováno, aby se při vytváření nových poznámek neukazovalo. K tomu slouží tlačítko "Skrýt/Ukazovat"</p>

		{% elseif page == "equipment-new" %}
		<p>Zde si můžete vytvořit novou položku v nabídce vybavení. To se vyplatí zejména pokud toto vybavení vozíte pravidelně</p>
		<p>Pro jednorázové vybavení můžete využít při vytváření položku "Další vybavení"</p>
		
		{% elseif page == "equipment-edit" %}
		<p><b>Pozor, úprava změní text i v již odeslaných pozvánkách!</b></p>
		
		{% elseif page == "members-overview" %}
		<p>Toto je seznam aktivních členů. Vyřadit z aktivních ho můžete tlačítkem "Odešel"</p>
		
		{% elseif page == "members-new" %}
		<p>Zde můžete přidat nového člena. Člen bude okamžitě aktivní</p>
		<p>Email není kontrolován. Při zadání chybného emailu nebudou pozvánky správně doručeny.</p>
		
		{% elseif page == "members-inactive" %}
		<p>Toto je seznam <i>ne</i>aktivních členů.</p>
		<p>Pokud se člen vrátí zpět, bude okamžitě zařazen zpět do skupin, ve kterých předtím byl</p>
		
		{% elseif page == "members-edit" %}
		<p>Právě upravujete člena.</p>
		<p>Email není kontrolován. Při zadání chybného emailu nebudou pozvánky správně doručeny.</p>
		
		{% elseif page == "user" %}
		<p>Zde si můžete změnit vaše údaje.</p>
		
		{% elseif page == "submitpoll" %}
		<p>Zde si můžete vytvořenou pozvánku prohlédnout a odeslat. Vyberte si skupinu a pozvánku odešlete.</p><p>Skupina "Všichni" se odešle <b>všem aktivním členům</b>.</p><p>Můžete ji také ještě znovu upravit pomocí černého tlačítka</p>

        {% elseif page == "createplain" %}
        <p>Zde můžeš odeslat email bez pozvánky vybraným uživatelům</p>

        {% else %}
		<p>Tato nápověda ještě není hotová.<br><i>Kód: {{page}}</i></p>
		{%endif%}
	</div>
</div>







