{% extends "base.html" %}

{% block title %} Přehled účastníků hlasování {% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
	{% include 'hints.html' with {'page':'listpolls-adminvote'} %}
	<div class="span10">
		<h2>Účastníci hlasování</h2>
		<a href="listpolls.php" class="pull-right">Přejít na seznam všech hlasování<i class="icon-arrow-right"></i></a>
		<a href="index.php?id={{request.id}}"><i class="icon-search"></i>&nbsp;Přejít na výsledky tohoto hlasování</a>
		{% set confirm_button = {"href":"vote.php","text":"Pojede","class":"btn btn-success","vars":{"vote":"1","key":"key","return":request_uri} } %}
		{% set reject_button = {"href":"vote.php","text":"Nepojede","class":"btn btn-danger","vars":{"vote":"0","key":"key","return":request_uri} } %}
		{% set check_button = {"href":"vote.php","text":"Prohlédnout","class":"btn btn-primary","vars":{"key":"key"} } %}
		{% include "tabulize.html" with { "data" : votes_data, "buttons": [confirm_button,reject_button,check_button], "bools":["odhlasováno","jede"], "hide":["key"] } %}
		</div>
	</div>
	
</div>
{% endblock %}
