{% extends "base.html" %}

{% block title %} Přehled všech hlasování {% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
	{% include 'hints.html' with {'page':'listpolls'} %}
	<div class="span10">
		<h2>Přehled všech akcí</h2>
		{% set edit_button = {"href":"createpoll.php","text":"Editovat","class":"btn btn-warning","vars":{"action":"editpoll","id":"id"}} %}
		{% set results_button = {"href":"index.php","text":"Výsledky","class":"btn btn-primary","vars":{"id":"id"}} %}
		{% set vote_button = {"href":"listpolls.php","text":"Vyplnit","class":"btn btn-success","vars":{"action":"adminvote","id":"id"}} %}
        {% set close_button = {"href":"closepoll.php","text":"Uzavřít","class":"btn btn-inverse","vars":{"id":"id"}} %}
		{% include "tabulize.html" with { "data" : polls_data, "buttons": [results_button,vote_button,edit_button,close_button], "bools":["odesláno"] } %}
		</div>
	</div>
	
</div>
{% endblock %}
