{% extends "base.html" %}

{% block title %} Přihlášení {% endblock %}

{% block content %}
	{% import "forms.html" as forms %}
	<div class="container-fluid">
		<div class="row-fluid">
			{% include 'hints.html' with {'page':'login'} %}
			<div class="span10">
				<form action="login.php" method="POST" class="form-horizontal">
					{{ forms.bsinput('text','username', 'Login', null, 'Přihlašovací jméno') }}
					{{ forms.bsinput('password','pass', '***', null, 'Heslo' ) }}
					{{ forms.bssubmit('Přihlásit se') }}

				</form>
			</div>
		</div>
	</div>
{% endblock %}


