{% extends "base.html" %}

{% block title %} Záznamy pro člena {{ child.nick }} {% endblock %}

{% block content %}
    {% import "forms.html" as forms %}
    <div class="container-fluid">
        <div class="row-fluid">
            {% include 'hints.html' with {'page':'memberdata'} %}
            <div class="span10">
                <h2>Informace pro: {{ child.nick }} ({{ child.lastname }})</h2>
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#overview">Osobní údaje</a></li>
                    <li><a href="#protocol">Záznamy</a></li>
                    <li><a href="#new">Nový záznam</a></li>
                    {%if edit is not empty %}
                        <li><a href="#edit">Editace</a></li>
                    {%endif%}
                    <li><a href="#photo">Nahrát fotku</a></li>
                    <li><a href="#turnout">Účast</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="overview">
                        <div class="row-fluid"><div class="span5">
                            <form class="form-horizontal" action="submitmemberdata.php" method="POST">
                                {{ forms.bsinput("text", "nick", "Čumáček", child.nick, "Přezdívka", correction.nick) }}
                                {{ forms.bsinput("text", "firstname", "Izajáš", child.firstname, "Křestní jméno", correction.firstname) }}
                                {{ forms.bsinput("text", "lastname", "Vomáčka", child.lastname, "Příjmení", correction.lastname) }}
                                {{ forms.bsinput("text", "address", "Pod mostem 5", child.address, "Adresa", correction.address) }}
                                {{ forms.bsinput("text", "town", "Praha", child.town, "Město", correction.town) }}
                                {{ forms.bsinput("text", "psc", "12345", child.psc, "PSČ", correction.psc) }}
                                {{ forms.bsinput("text", "contact_email", "email@domain.tld", child.contact_email, "Email ve Štrůdlu", correction.contact_email) }}
                                {{ forms.bsinput("text", "contact_phone", "321098765", child.contact_phone, "Telefon na dítě", correction.contact_phone) }}
                                {{ forms.bsinput("text", "birthno", "123456/7890", child.birthno, "Rodné číslo", correction.birthno) }}
                                {{ forms.bsinput("date", "birthday", "", child.birthday, "Datum narození", correction.birthday) }}
                                {{ forms.bsinput("text", "mother_name", "Eulálie Matlafousková", child.mother_name, "Jméno matky", correction.mother_name) }}
                                {{ forms.bsinput("text", "mother_phone", "906123456", child.mother_phone, "Telefon na matku", correction.mother_phone) }}
                                {{ forms.bsinput("text", "father_name", "Dimitris Avramopulos", child.father_name, "Jméno otce", correction.father_name) }}
                                {{ forms.bsinput("text", "father_phone", "800122012", child.father_phone, "Telefon na otce", correction.father_phone) }}
                                {{ forms.bsinput("date", "date_member", "", child.date_member, "Datum vstupu do oddílu (YYYY-MM-DD)", correction.date_member) }}
                                {{ forms.bsinput("date", "date_promise", "", child.date_promise, "Datum slibu (YYYY-MM-DD)", correction.date_promise) }}
                                {{ forms.bsinput("text", "left_year", "", child.left_year, "Odešel v roce", correction.left_year) }}
                                {{ forms.bsinput("text", "googledrive", "", child.googledrive, "Google Drive", correction.googledrive) }}
                                {{ forms.hidden('action','editchilddata') }}
                                {{ forms.hidden('id', child["id_children"] ) }}
                                {{ forms.bssubmit("Vložit údaje","btn btn-default") }}
                            </form>
                        </div><div class="span6">
                                <h5>Fotka</h5><img src="{{ child.photo_file|default('http://placekitten.com/300/200') }}" width="300">
                                {% if child.googledrive is not null %}
                                <h5>Google Drive:</h5>
                                <br><a href="{{ child.googledrive }}" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Logo_of_Google_Drive.png" width="200"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="protocol">
                        <form class="form-inline" method="GET">
                            <select name="onlyprotocoltype">
                                {% for type in writeuptypes %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% else %}
                                    <option>Nejsou žádné typy záznamů</option>
                                {% endfor %}
                                    <option value="all">Všechny</option>
                            </select>
                                {{ forms.hidden('tab','protocol') }}
                                {{ forms.hidden('child', child["id_children"]) }}
                            </select>
                            <button type="submit" class="btn btn-primary">Vyfiltrovat záznamy</button>
                        </form>
                        <hr>
                            {% for writeup in protocol %}
                                {{ writeup.content }}
                                <p style="text-align: right">
                                    <i><b>{{ writeup.wtype }}</b></i>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="memberdata.php?action=editwriteup&protocolid={{ writeup.id }}&child={{ child["id_children"] }}&tab=edit" style="color:#333333"> <i class="icon-edit"></i> <i>Upravit</i></a>
                                    <a onclick="return confirm('Opravdu chcete zápis nenávratně smazat?');" href="submitmemberdata.php?action=deletewriteup&protocolid={{ writeup.id }}&child={{ request.child }}" style="color:#333333"> <i class="icon-trash"></i> <i>Smazat</i></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b>{{ writeup.created }} -- {{ writeup.creator }}</b>

                                </p>
                                <hr style="	border-top: 2px solid #8c8b8b; padding-top:10px;">
                            {% endfor %}
                    </div>
                    <div class="tab-pane" id="new">
                        <form class="form-horizontal" action="submitmemberdata.php" method="POST">
                            <div class="control-group"><label class="control-label">Typ záznamu:</label>
                                <div class="controls">
                                    <select name="writeuptype">
                                        {% for type in writeuptypes %}
                                            <option value="{{ type.id }}">{{ type.name }}</option>
                                        {% else %}
                                            <option>Nejsou žádné typy záznamů</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="control-group"><label class="control-label">Text záznamu:</label>
                                <div class="controls">
                                    <textarea rows="10" name="writeup" class="span8"></textarea>
                                </div>
                            </div>
                            {{ forms.hidden("action","newwriteup") }}
                            {{ forms.hidden("child", child["id_children"]) }}
                            {{ forms.bssubmit("Zapsat záznam","btn btn-primary") }}
                        </form>
                    </div>
                    {%if edit is not empty %}
                        <div class="tab-pane" id="edit">
                            <form class="form-horizontal" action="submitmemberdata.php" method="POST">
                                <div class="controls"><p><strong>Editujete existující záznam!</strong></p></div>
                                <div class="control-group"><label class="control-label">Typ záznamu:</label>
                                    <div class="controls">
                                        <select name="writeuptype">
                                            {% for type in writeuptypes %}
                                                <option value="{{ type.id }}"{% if protocol[edit]["writeuptype"] == type.id %} selected="selected"{% endif %}>{{ type.name }}</option>
                                            {% else %}
                                                <option>Nejsou žádné typy záznamů</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group"><label class="control-label">Text záznamu:</label>
                                    <div class="controls">
                                        <textarea rows="10" name="writeup" class="span8">{{ protocol[edit]["content"] }}</textarea>
                                    </div>
                                </div>
                                {{ forms.hidden("id",edit) }}
                                {{ forms.hidden("action","editwriteup") }}
                                {{ forms.hidden("child", child["id_children"]) }}
                                {{ forms.bssubmit("Upravit záznam","btn btn-primary") }}
                            </form>
                        </div>
                    {%endif%}
                    <div class="tab-pane" id="photo">
                        <form class="form-horizontal" action="submitmemberdata.php" method="POST" enctype="multipart/form-data">
                            <div class="control-group"><label class="control-label">Nahrát novou fotku:</label>
                                <div class="controls">
                                    <input type="file" name="upfile" accept="image/gif, image/jpeg, image/png">
                                </div>
                            </div>
                            {{ forms.hidden("action","uploadphoto") }}
                            {{ forms.hidden("child", child["id_children"]) }}
                            {{ forms.bssubmit("Nahrát fotku","btn btn-primary") }}
                        </form>
                    </div>
                    <div class="tab-pane" id="turnout">
                        <dl>
                            <dd>Celkem byl {{ child.nick }} ({{ child.lastname }}) pozván na <b>{{ turnout[0]["invites"]  }}</b> akcí</dd>
                            <dd>Zúčastnil se z toho <b>{{ turnout[0]["attendance"] }}</b> akcí, což je <b>{{ (turnout[0]["attendance"] / turnout[0]["invites"])*100 }}%</b></dd>
                        </dl>

                        <div class="row-fluid">
                            <div class="span6 offset3">
                                <canvas id="myChart" width="300" height="300"></canvas>
                            </div>
                        </div>
                        <h4>Poslední akce, kterých se zúčastnil:</h4>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Datum</th>
                                <th>Název</th>
                                <th>Místo</th>
                            </tr>
                        {% for event in turnout %}
                            <tr>
                                <td>{{ event.date_start }}&nbsp;-&nbsp;{{ event.date_end }}</td>
                                <td>{{ event.name }}</td>
                                <td>{{ event.place }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>

                <script>
                    $('#myTab a').click(function (e) {
                        e.preventDefault();
                        $(this).tab('show');
                    })

                    $(function () {
                        {% if request.tab is defined%}
                        $('#myTab a[href="#{{request.tab}}"]').tab('show'); // Select tab by name
                        {%else%}
                        $('#myTab a:first').tab('show');
                        {%endif%}
                    })
                    $(document).ready(function() {
                        new Chart(document.getElementById("myChart"), {
                            type: 'pie',
                            data: {
                                labels: ["Účastnil se", "Neúčastnil se"],
                                datasets: [{
                                    label: "Účast na akcích",
                                    backgroundColor: ["green", "red"],
                                    data: [{{ turnout[0]["attendance"] }}, {{ turnout[0]["invites"] - turnout[0]["attendance"] }}]
                                }]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'Účast {{ child.nick }} ({{ child.lastname }}) na akcích'
                                },
                                responsive: false
                            }
                        });

                    });
                </script>

            </div>
        </div>
    </div>
{% endblock %}


