{% extends "base.html" %}

{% block title %} Správa účastníků {% endblock %}

{%block content %}
	{% import "forms.html" as forms %}
	<div class="container-fluid">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#overview">Aktivní členové</a></li>
				<li><a href="#new">Nový člen</a></li>
				<li><a href="#inactive">Neaktivní členové</a></li>
				{%if edit is not empty %}
				<li><a href="#edit">Editace</a></li>
				{%endif%}
			</ul>
		<div class="row-fluid">
			<div class="tab-content">
				<div class="tab-pane active" id="overview">
					{% include 'hints.html' with {'page':'members-overview'} %}
					<div class="span10">
						{%set edit_button = {"href":"memberdata.php","class":"btn btn-warning","text":"Editovat","vars":{"child":"id"}  } %}
						{%set left_button = {"href":"members.php","class":"btn btn-inverse","text":"Odešel :-(","vars":{"id":"id","action":"activetoggle"}  } %}
						{%set back_button = {"href":"members.php","class":"btn btn-success","text":"Jupí, vrátil se!!","vars":{"id":"id","action":"activetoggle"}  } %}
						{% include 'tabulize.html' with {'data': active_members,'buttons': [edit_button,left_button]} %}
					</div>
				</div>

				<div class="tab-pane" id="new">
					{% include 'hints.html' with {'page':'members-new'} %}
					<div class="span10">
						<form action="members.php" method="POST" class="form-horizontal">
							{{forms.bsinput("text","nick","Pepík",null,"Přezdívka")}}
							{{forms.bsinput("text","contact_email","email@domain.tld",null,"Kontaktní email")}}
							{{forms.hidden("action","newmember")}}
							{{forms.bssubmit("Vložit nového člena")}}
						</form>
					</div>
				</div>
				<div class="tab-pane" id="inactive">
					{% include 'hints.html' with {'page':'members-inactive'} %}
					<div class="span10">
						{% include 'tabulize.html' with {'data': inactive_members,'buttons': [edit_button,back_button]} %}
					</div>
				</div>
				{%if edit is not empty %}
				<div class="tab-pane" id="edit">
					{% include 'hints.html' with {'page':'members-edit'} %}
					<div class="span10">
						<form action="members.php" method="POST" class="form-horizontal">
							{{forms.bsinput("text","nick","Pepík",edit.nick,"Přezdívka")}}
							{{forms.bsinput("text","contact_email","email@domain.tld",edit.contact_email,"Kontaktní email")}}
							{{forms.hidden("action","editmember_write")}}
							{{forms.hidden("id",edit.id_children)}}
							{{forms.bssubmit("Upravit člena")}}
						</form>
					</div>
				</div>
				{%endif%}
				<script>
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
				
				$(function () {
				{% if request.tab is defined%}
					$('#myTab a[href="#{{request.tab}}"]').tab('show'); // Select tab by name
				{%else%}	
					$('#myTab a:first').tab('show');
				{%endif%}
				})
				</script>
			</div>
		</div>
	</div>
{%endblock%}


