{% extends "base.html" %}

{% block title %} Chronologický výpis záznamů {% endblock %}

{% block content %}
    {% import "forms.html" as forms %}
    <div class="container-fluid">
        <div class="row-fluid">
            {% include 'hints.html' with {'page':'memberdata'} %}
            <div class="span10">
                <h2>{% if request.onlyprotocoltype is not empty and request.onlyprotocoltype != "all"%}Vyfiltrovaný chronologický výpis{% else %}Chronologický výpis všech záznamů{% endif %}</h2>
                        <form class="form-inline" method="GET">
                            <select name="onlyprotocoltype">
                                {% for type in writeuptypes %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% else %}
                                    <option>Nejsou žádné typy záznamů</option>
                                {% endfor %}
                                <option value="all">Všechny</option>
                            </select>
                            {{ forms.hidden('tab','protocol') }}
                            {{ forms.hidden('child', child["id_children"]) }}
                            </select>
                            <button type="submit" class="btn btn-primary">Vyfiltrovat záznamy</button>
                        </form>
                        <hr>
                        {% for writeup in protocol %}
                            <div class="row-fluid"><div class="span12">
                                    <h4>{{ writeup.nick }} ({{ writeup.lastname }})</h4>
                                {{ writeup.content }}
                                <p style="text-align: right">
                                    <i><b>{{ writeup.wtype }}</b></i>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="memberdata.php?action=editwriteup&protocolid={{ writeup.id }}&child={{ writeup.id_children }}&tab=edit" style="color:#333333"> <i class="icon-edit"></i> <i>Upravit</i></a>
                                    <a onclick="return confirm('Opravdu chcete zápis nenávratně smazat?');" href="submitmemberdata.php?action=deletewriteup&protocolid={{ writeup.id }}&returnto=protocol" style="color:#333333"> <i class="icon-trash"></i> <i>Smazat</i></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b>{{ writeup.created }} -- {{ writeup.creator }}</b>

                                </p>
                                </div></div>
                            <hr style="	border-top: 2px solid #8c8b8b; padding-top:10px;">
                        {% endfor %}
                    </div>


            </div>
        </div>
    </div>
{% endblock %}


