{% extends "base.html" %}

{% block title %} Zkontrolovat a odeslat zprávu {% endblock %}

{% block content %}
	{% import "forms.html" as forms %}
	<div class="container-fluid">
		<div class="row-fluid">
			{% include 'hints.html' with {'page':'submitplain'} %}
			<div class="span10">
                {%if plain_data.sent is not null %}
					<div class="alert alert-block">
						<h4>Pozor!</h4>
						<p>&nbsp;</p>
						<p>Tato zpráva již byla poslána!</p>
						<p>Odeslání proběhlo: {{plain_data.sent}}</p>
					</div>
        {%else%}
				<h3>Následující email je připraven k odeslání:</h3>
        {% endif%}
				<div class="well">
                    <h5>Předmět: {{plain_data.subject}}</h5>
					<div>{{plain_data.content|nl2br}}</div>
                    <br>
                    <h6>Přílohy:</h6>
                    <ul>
                        {% for something in [plain_data.file1, plain_data.file2, plain_data.file3] %}
                            {% if something is not null %}
                            {# ugly hack, protože Twig nemá last#}
                            <li><b>Příloha</b>: <a href="{{ something }}">{{ something|split('/')[2] }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
				</div>
				<div>
				<form action="submitplain.php" method="POST" class="form"{%if plain_data.sent is not null%} onsubmit="return confirm('Opravdu chcete odeslat zprávu znovu?!')"{%endif%}>
                    <div class="control-group">
                        <div class="controls">
                            <label>Pozvánku odeslat skupině:</label>
                            <select name="sendgroup">
                                <option value="all">Všichni</option>
                                {% for group in groups %}
                                    <option value="{{group.id_groups}}">{{group.name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="control-group"><div class="controls">
  						<input type="submit"   class="btn btn-large btn-primary"  value="Odeslat vybrané skupině" />
					   {{forms.hidden("action","sendplain")}}
                        {{forms.hidden("id",request.id)}}
          <a href="createplain.php?action=editplain&id={{request.id}}" class="btn btn-large btn-inverse">Ještě pozvánku upravit</a>
					</div></div>
				</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


