{% extends "base.html" %}

{% block title %} Potvrdit a odeslat hlasování {% endblock %}

{% block content %}
	{% import "forms.html" as forms %}
	<div class="container-fluid">
		<div class="row-fluid">
			{% include 'hints.html' with {'page':'submitpoll'} %}
			<div class="span10">
				{%if poll_data.sent is not null %}
					<div class="alert alert-block">
						<h4>Pozor!</h4>
						<p>&nbsp;</p>
						<p>Tato pozvánka již byla poslána. Pokud ji odešlete znovu stejným osobám, může dojít k jejich zmatení</p>
						<p>Odeslání proběhlo: {{poll_data.sent}}</p>
						<p>Podívejte se na <a href="index.php?id={{poll_data.id_polls}}">výsledky</a>!</p>
					</div>
				{% endif%}
				<h3>Následující pozvánka je připravena k odeslání:</h3>
				<div class="well">
					{% include 'invitation.html' with {'data': poll_data } only %}
				</div>
				<div>
				<form action="submitpoll.php" method="POST" class="form"{%if poll_data.sent is not null%} onsubmit="return confirm('Opravdu chcete odeslat pozvánku znovu?!')"{%endif%}>
					{{forms.hidden("id",request.id)}}
					{{forms.hidden("action","sendpoll")}}
					<div class="control-group">
					<div class="controls">
					<label>Pozvánku odeslat skupině:</label>
					<select name="sendgroup">
						<option value="all">Všichni</option>
						{% for group in groups %}
						<option value="{{group.id_groups}}">{{group.name}}</option>
						{%endfor%}
					</select>
					</div>
					</div>
					<div class="control-group"><div class="controls">
						<input type="submit"   class="btn btn-large btn-primary"  value="Odeslat vybrané skupině" />
						<a href="createpoll.php?action=editpoll&id={{request.id}}" class="btn btn-large btn-inverse">Ještě pozvánku upravit</a>
					</div></div>
				</form>
				</div>

				
			</div>
		</div>
	</div>
{% endblock %}


