<table class="table table-striped table-hover table-condensed ">
{% for line in data %}
	{% set tableexists=1 %}
	{%if loop.first %}
		<tr>
		{% for key in line|keys %}
			{%if key in hide%}
				{# we want to ignore this one (we probably need it as a key for button) #}
			{%else%}
			<th>{{key}}</th>
			{%endif%}
		{% endfor %}
        {% if buttons is not empty %}
            {% for num in 0..(buttons|length-1) %}
                <th>&nbsp;</th>
            {% endfor %}
        {% endif %}
		</tr>
	{% endif%}
	<tr>
	{% for key, item in line %}
		{%if key in hide%}
			{# we want to ignore this one (we probably need it as a key for button) #}
		{%elseif key in bools %}
			{%if item == true %}
				<td><i class="icon-ok"></i></td>
			{%else%}
				<td><i class="icon-remove"></i></td>
			{%endif%}
		{%else%}
		<td>{{item}}</td>
		{%endif%}
	{%endfor%}
	{%if buttons is not empty %}
	{% for button in buttons %}
		<td>
		<a href="{{button.href}}{% for key,value in button.vars %}{%if loop.first%}?{%endif%}{{key}}={%if line[value] is defined%}{{line[value]}}{%else%}{{value}}{%endif%}&{%endfor%}" class="btn {{button.class}}">{{button.text}}</a>
		</td>
	{% endfor %}
	{%endif%}
	</tr>
{% else %}
	<tr><td>Žádná data</td></tr>
{%endfor%}
</table>
