{% extends "base.html" %}

{% block title %} Rozhodnutí o účasti {% endblock %}

{% block content %}
{% import 'forms.html' as forms %}
{%if key is defined%}
<div class="container-fluid">
	<div class="row-fluid">
		{% include 'hints.html' with {'page':'votes'} %}
		<div class="span8">
			{% include 'invitation.html' with {"data":poll, "participants": {1:participant } , "vote":vote} only %}
			<div style="margin-top:2.5em;">
			<form action="vote.php" method="POST">
				<fieldset>
					<legend>Přidat poznámku k (ne)účasti</legend>
					<textarea rows="2" cols="160" name="comment" class="field span8">{{key.comment}}</textarea>
					<br>
					<input type="hidden" name="action" value="submitcomment">
					<input type="hidden" name="key" value="{{key.key}}">
					<button type="submit" class="btn btn-primary">Uložit</button>
				</fieldset>
			</form>
			</div>
		</div>
		<div class="span2">
			<dl>
				<dt>Pozvánka odeslána</dt>
				<dd>{{key.created}}</dd>
				<dt>Naposledy změněno</dt>
				<dd>{{key.updated}}</dd>
			</dl>
		</div>
	</div>
</div>
{%else%}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<h1>Nic tu není</h1>
			<p class="important">Je mi líto, ale bez zadaného klíče tu nic nebude</p>
		</div>
		<div class="span6">
				<form method="GET" action="vote.php" class="form-horizontal">
					{{forms.bsinput("text","key","AaBb123",null,"Zadat klíč ručně")}}
					{{forms.bssubmit("Zadat")}}
				</form>
		</div>
		</div>
	</div>
</div>

{%endif%}
{% endblock %}
